*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

header{
    display: flex;
    background-color: rgb(96, 28, 28);
    justify-content: space-between;
}

nav ul{
   
    list-style: none;
    display: flex;
    padding-top: 30px;
    
       
}


nav a{
    text-decoration: none;
    color: gold;
    font-size: 30px;
    padding: 20px;
           
}

.imagem-logo{
padding-bottom: 20px;
}

.imagem-icon{
    padding-top: 15px;
}
.imagem-de-fundo
{ 
 background: url("thumb-1920-282535.jpg") ;
 background-repeat: none;
 background-size:contain;
}
h1{
    color: white;
    padding: 20px;
    font-size: 40px;
}


p{
    color: white;
    text-indent: 10%;
    line-height: 1.5;
    font-size: 18px;
    
}



a:hover{

    color: black;
    font-size: 50px;
    background-color: gold;
}

article ul{
    list-style-type: decimal;
    color: white;
    text-indent: 10%;
    line-height: 1.5;
    font-size: 18px;
        
}

article ul li{
    padding: 10px;
}

.sobre
{
    max-width: 40%;
    padding: 10px;
    font-size: 18px;
}



.curiosidades
{
    padding-left: 60%;
    
    
}

.filmes{
    max-width: 40%;
    padding: 10px;
    font-size: 18px;
}
h2{
    color: white;
    font-size: 22px;
    text-indent: 10%;
    padding-bottom: 10px;
}
